{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3 info">
        <legend class="border-bottom mb-4">About</legend>
        MyMCPS++ is a student created grade veiwer that was made to replace myMCPS portal (meaning that a moblie version <b>WON'T</b> be released).<br> Furthermore, this project is most likely not going to be updated or edited a lot, there are no more plans for this project.<br>If you want to see a demo, click <b><a href="/dem">here</a></b>.<br><br>
        <h5>This website was made using the following: </h5>
        <div class="list-group">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-js-square"></i> Javascript</a>
            <a href="https://www.python.org/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-python"></i> Python</a>
            <a href="http://flask.pocoo.org/" target="_blank" class="list-group-item list-group-item-action">Flask (Python Framework)</a>
            <a href="https://getbootstrap.com/" target="_blank" class="list-group-item list-group-item-action">Bootstrap</a>
            <a href="https://jquery.com/" target="_blank" class="list-group-item list-group-item-action">jQuery (Javascript library)</a>
            <a href="https://fontawesome.com/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-font-awesome-flag"></i> Font Awesome</a>
            <a href="https://www.flaticon.com" target="_blank" class="list-group-item list-group-item-action">Flaticon</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-html5"></i> HTML 5</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-css3-alt"></i> CSS 3</a> <br>
        </div>
        Veiw my open source code on <a href="https://github.com/AnuragGowda/MyMCPS_Plus"  target="_blank"><i class="fab fa-github"></i> Github (now open)<i class="fas fa-external-link-alt fa-xs ext"></i></a>
    </div>
{% endblock content %}
