{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3 info">
        <legend class="border-bottom mb-4">Contact</legend>
        <i class="fab fa-twitter"></i> [Twitter link] (coming soon)<br>
        <i class="fas fa-envelope"></i> [Email link] (coming soon)<br>
        <a href="https://github.com/AnuragGowda" target="_blank"><i class="fab fa-github"></i> Github</a><br><br>
        Feel free to contact me at the email provided if you have any questions or concerns!
    </div>
{% endblock content %}
